.label {
  font-weight: bold;
  display: block;
}
.car {
  border-radius: 5px;
}
.carproperty {
  margin-bottom: 3px;
}
.imageview {
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  margin: 2px;
}
